.search-container{
    padding-top: 30px;

    #search-input,
    #search-btn{
        display: inline-block;
    }
    #search-input{
        width: 300px;
        margin-right: 30px;
    }

    #search-btn{
        width: 100px;
    }
}

.selectors-container{
    padding-top: 50px;
    select{
        background: lightgray;
        width: 400px;
    }
}