{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BhanuPOC</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="{% static 'styles.1c77ab1e50d92631c7cf.bundle.css' %}" rel="stylesheet" />
</head>

<body>
    <app-root></app-root>
    <script type="text/javascript" src="{% static 'inline.e1c02140ee009ecdef5b.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'polyfills.9c9d984264273e203f68.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor.db52fb1977bc7f60304d.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'main.e3c1e97c1c693e0e4fc4.bundle.js' %}"></script>
</body>

</html>